body { font-family: Segoe UI, Arial, sans-serif; background: pink; color: white; margin: 0; }
header { background: #FFAAB8; padding: 10px 15px; font-size: 22px; font-weight: bold; border-bottom: 2px solid #F57F93; }
#topControls { display: flex; gap: 8px; padding: 8px; border-bottom: 1px solid #F57F93; align-items: center; background: #F57F93; flex-wrap: wrap; }
select, input[type="file"], input[type="text"] { background: #111; color: white; border: 1px solid #555; padding: 6px; height: 32px; }
button { background: #fd96a7; border: 1px solid #FF6E86; color: white; padding: 6px 12px; cursor: pointer; }
button:hover { background: #555; }
button.danger { background: #b52323; border: 1px solid #ff4242; }
button.danger:hover { background: #d42a2a; }
#formContainer { height: calc(100vh - 250px); overflow-y: auto; padding: 10px; }
.field-label { font-weight: bold; margin-top: 10px; border-bottom: 1px solid #555; }
input[type="text"] { width: 100%; background: #111; border: 1px solid #555; padding: 6px; color: white; }
.checkbox-group { display: flex; flex-wrap: wrap; gap: 5px; margin-top: 5px; }
.checkbox-group label { background: #2e2e2e; border: 1px solid #666; padding: 5px 8px; cursor: pointer; user-select: none; }
.checkbox-group input { margin-right: 5px; }
#bottomControls { display: flex; justify-content: space-between; padding: 10px; border-top: 1px solid #fd96a7; background: #fd96a7; flex-wrap: wrap; gap: 8px; }
textarea { width: 100%; background: #111; border: 1px solid #555; color: white; padding: 6px; }